*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:45px;
    height:45px;
    object-fit:contain;
}

.logo h2{
    font-size:22px;
    color:#222;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:#222;
}

.btn{
    padding:12px 25px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}
.hero{
    height:90vh;
    background:url("../images/hero.jpg") center/cover;
    position:relative;

    display:flex;
    justify-content:center;
    align-items:center;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.6);
}

.hero-content{
    position:relative;
    text-align:center;
    color:white;
    max-width:700px;
}

.hero h1{
    font-size:60px;
    margin-bottom:20px;
}

.hero p{
    margin-bottom:25px;
}
.speakers{
    padding:80px 8%;
}

.speakers h2{
    text-align:center;
    margin-bottom:40px;
}

.speaker-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:25px;

}

.speaker-card{
    background:#f5f5f5;
    padding:15px;
}

.speaker-card img{
    width:100%;
}

.speaker-card span{
    color:#2563eb;
} 
.pricing{
    padding:80px 8%;
}

.pricing h2{
    text-align:center;
    margin-bottom:40px;
}

.pricing-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.price-card{
    border:1px solid #ddd;
    border-radius:10px;
    padding:25px;
}

.featured{
    background:#0f172a;
    color:white;
    transform:scale(1.05);
}